{% extends "base.html" %}

<!-- Head -->
{% block title %}Home{% endblock title %}
<!-- Header -->
{% block nav_title %}Test Django App{% endblock nav_title %}
{% block nav_item1 %}Home{% endblock nav_item1 %}
{% block nav_item2 %}Base{% endblock nav_item2 %}
{% block nav_item3 %}About{% endblock nav_item3 %}
<!-- Content -->
{% block hero_header %}Welcome to the Home Website!{% endblock hero_header %}
{% block body_heading %}this is now overwritten for the homepage{% endblock body_heading %}
{% block body_text %}instead of lorem ipsum we have this very interesting new text!{% endblock body_text %}